/* New tag for each line in the code block. */
cline {
  display:inline;
  margin:0;
  padding:0;
  border:0;
}

cline:hover {
  background-color: red;
}

cline {
  background-color: rgb(144,144,144);
}

dline {
  display:inline;
  margin:0;
  padding:0;
  border:0;
}

dline:hover {
  background-color: yellow;
}

eline {
  display:inline;
  margin:0;
  padding:0;
  border:0;
}

eline:hover {
  background-color: green;
}

profile_line { 
  display:inline;
  margin:0;
  padding:0;
  border:0;
}


/*
.selected_line {
  background-color: #00CCFF;
}

.selected_line[line_color='black'] {
  background-color: #00CCFF;
}

.selected_line [line_color='yellow'] {
  background-color: yellow;
}

.selected_line[line_color='green'] {
  background-color: green;
}

.selected_line [line_color='red'] {
  background-color: red;
}
*/
