/* New tag for each line in the code block. */
cline {
  display:inline;
  margin:0;
  padding:0;
  border:0;
}

cline:hover {
  background-color: red;
}

cline {
  background-color: rgb(144,144,144);
}

dline {
  display:inline;
  margin:0;
  padding:0;
  border:0;
}

dline:hover {
  background-color: yellow;
}

eline {
  display:inline;
  margin:0;
  padding:0;
  border:0;
}

eline:hover {
  background-color: green;
}

profile_line { 
  display:inline;
  margin:0;
  padding:0;
  border:0;
}


lane:hover {
  background-color:blue;
}


/* custom inclusion of right, left and below tabs */
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.col-md-12 {
  position: fixed;
  left: -180px;
}

.tab

.tabs-left {
 color:green;
 left: 200px;
}

.selected_line {
  background-color: #00CCFF;
  }


  .selected_line [line_color='yellow'] {
    background-color: #00CCFF;
    }

.selected_line [line_color='black'] {
    background-color: #00CCFF;
    }
    .selected_line[line_color='green'] {
      background-color: green;
      }

.selected_line[line_color='red'] {
  background-color: red;
} 

